[2015-01-04 15:13] clonedagain opened #8 "product_name_unique_per_company could be moved to product_attributes"
I think product_name_unique_per_company is useful even with a single company, and actually I have a PR for an almost identical but inferior module in the product attributes project.
Would you consider moving this module to the product attribute project to avoid duplicate features and increase visibility?

[2015-03-11 11:08] duanyp1991 opened #10 "Module product_autocompany breaks travis ci test"
The module: product_autocompany makes company_id on model(product_template) required
however the demo data in sale/sale_demo.xml:326 have one record of product with empty company_id.

  This actually is quite normal in a real project, some customized modules might change the standard workflow which make the standard tests fail.

[2015-03-11 12:30] pedrobaeza commented on #10
That can be solved providing a migration script (for v7) or post-hook for v8 that fills with one company each empty record.

[2015-03-11 14:45] duanyp1991 commented on #10
right! I'll create a migration script for that.

[2015-03-12 06:26] duanyp1991 commented on #10
@pedrobaeza  I just checked the code of odoo,（ migration.py）, it seems that only when we update the module and the version is higher, the migration script will be executed. However in this case , we wanna run the migration script when the module is first installed. Please let me know if I miss anything. Thanks! :)

[2015-03-12 06:31] pedrobaeza commented on #10
For v7, if you check for `version is None`, you can execute it in first install. For v8, you have to use a pre or post-init hook. See an example here:

https://github.com/odoomrp/odoomrp-wip/blob/8.0/quality_control_stock/__openerp__.py#L42
https://github.com/odoomrp/odoomrp-wip/blob/8.0/quality_control_stock/__init__.py#L10

[2015-03-12 07:57] duanyp1991 commented on #10
@pedrobaeza  Thanks very much for you answer. I get how it works for v8.
But for v7, What do you mean by 'version is None'. I checked the code again, the migration only works for the module whose state is "to upgrade" (no 'to install' state). I tried putting the version as none, not working.

[2015-03-13 01:26] pedrobaeza commented on #10
Here you can see an example of a migration script with `if not version:` condition that fits for performing at first install (not upgrade):

https://github.com/OCA/account-financial-reporting/blob/7.0/account_financial_report_webkit/migrations/7.0.1.0.2/post-migration.py

[2015-04-10 17:19] franksl commented on #8
Hi, your module is for unique default_code while this one is for unique name, I think they satisfy different needs

[2015-10-14 00:32] pedrobaeza opened #18 "Migration to version 9.0"
Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] account_type_multi_company
- [x] partner_multi_company - By @pedrobaeza - #33
- [ ] product_autocompany
- [x] product_multi_company - By @pedrobaeza - #34
- [ ] product_name_unique_per_company
- [ ] stock_production_lot_multi_company

[2016-02-29 18:30] laetitia-gangloff opened #21 "[8.0] product multi company - question"
Hello,

why company_id is not a related on company_ids ? (is it possible ?!)
And, why in the case there is many companies define on the product, company_id is set with the first value ?

Last question, why record rules is set with in and not child_of ?

Thank you

[2016-03-01 08:59] lmignon commented on #21
@laetitia-gangloff

It's not possible and has no sens. Which company can we use if the user has access to a lot of them?

 IMO, the company_id should be empty and never used once this module is installed otherwise we will encounter bugs. (IMO it's a bug)

IMO to be consistent with others multi company record rules, we should use `child_of`

[2016-03-01 12:02] pedrobaeza commented on #21
`company_id` is an standard Odoo field, so we should keep a value in it for possible modules that tries to acces that field. I decided to use the first record of the allowed companies. I could put a related field, because Odoo makes the same behaviour when relating a many2many in a many2one field, but I preferred to use a computed method that can be inherited is someone has another need/requiremen

[2016-03-07 09:18] laetitia-gangloff commented on #21
Thank you for your answers.

[2016-03-07 09:18] #21 closed, assigned to nobody

[2016-04-05 08:12] nicoclavier opened #23 "Code missing"
There is no target model defined here :
[sales_team.py#L15](https://github.com/OCA/multi-company/blob/9.0/sales_team_multicompany/sales_team.py#L15)
Expecting comodel_name="res.company"

Also here the model isn't defined :
[sales_team_multicompany_security.xml#L5](https://github.com/OCA/multi-company/blob/9.0/sales_team_multicompany/security/sales_team_multicompany_security.xml#L5)
Expecting :
[9.

[2016-08-01 13:41] wagnerpereirasp opened #25 "Improvements in Property Fields UI"
Hello,

I've been strugling with Property Fields for a while, they work nicely and they sure add a good option for multi-company environments, however I believe the way they show on the UI could be improved.

Today a user needs to be set to use an specific company, only that way we can see the specific field value, if it's a property. However in a true multi-company environment it is possible that

[2016-08-01 14:07] pedrobaeza commented on #25
Hi, Wagner,

Your idea sounds pretty good, although the implementation can be a bit tricky, due to record rules restrictions, that can be bypassed making operations with sudo, but that can lead to a lot of side effects if you don't control the sudo propagation.

There's nothing in OCA for now for this. Do you plan to work on an improved widget for this? Take into account that you need to make a wi

[2016-08-01 14:41] wagnerpereirasp commented on #25
Hi Pedro,

The idea to improve the User Interface could be used for every property field, something in the Odoo core.

The user should have access to each company, we could use the field res.users.company_ids to identify how to populate this little table, and sudo to each one of these companies to retrieve/save the proper information.

I also would like to improve the security rules to filter usin

[2016-08-01 14:55] pedrobaeza commented on #25
Sorry, but you shouldn't touch record rules. If you want to see multiple things, create a company that is parent of the rest, but you never work in parallel with multiple companies, or you data will mix up, so the access should be one company each time. The case of the properties field can be an exception, as you're defining master data, but to change the whole concept to have at document level a

[2016-08-01 15:33] wagnerpereirasp commented on #25
Can we do something using parent company ? Like if the user is currently using a parent company we could show the multi company data field for the child company that are included in res.users.company_ids, would that go normaly thru standard security rules ?

De: "Pedro M. Baeza" notifications@github.com
Para: "OCA/multi-company" multi-company@noreply.github.com
Cc: "Wagner Pereira" wagner.pereira@

[2016-08-01 15:50] pedrobaeza commented on #25
Parent company is only for showing information, not for writing/creating
records.

[2016-08-01 17:07] wagnerpereirasp commented on #25
What about reworking security rules to allow permission if the access is from a parent company ?

De: "Pedro M. Baeza" notifications@github.com
Para: "OCA/multi-company" multi-company@noreply.github.com
Cc: "Wagner Pereira" wagner.pereira@kmee.com.br, "Author" author@noreply.github.com
Enviadas: Segunda-feira, 1 de agosto de 2016 12:50:49
Assunto: Re: [OCA/multi-company] Improvements in Property F

[2016-08-01 17:13] pedrobaeza commented on #25
That's exactly what a parent company do, but again the problem is the
mixing of data between companies when creating records. You must rework all
the domains in every field. Odoo rely on these record rules to avoid this
mangling with domains.

[2016-08-01 17:31] wagnerpereirasp commented on #25
I know my final multi-company idea is radical and should take a long time to be implemented, if so, however focusing on the property field UI only I think its doable, do you ?

De: "Pedro M. Baeza" notifications@github.com
Para: "OCA/multi-company" multi-company@noreply.github.com
Cc: "Wagner Pereira" wagner.pereira@kmee.com.br, "Author" author@noreply.github.com
Enviadas: Segunda-feira, 1 de agos

[2016-08-01 17:35] pedrobaeza commented on #25
Yes, it can be, but you need someone to implement it...

[2016-08-01 17:39] wagnerpereirasp commented on #25
Yeah, I could make a wizard to an specific field, but to automate a wizard that could be used for every possible property field would be more difficulty, plus I would have to make a way to bring these wizards up somehow, maybe a button besides the property field.

It would be much simpler if we could change the odoo core for that, instead of creating a wizard just updating the method that calculat

[2016-08-01 17:46] pedrobaeza commented on #25
You can't change the core. You should inherit/hack it.

[2016-08-01 17:48] wagnerpereirasp commented on #25
I see, try to extend it's function, I'll give it a try.

This was a good discussion, my intention was to bring the idea up and have it reviewed and, if luck, find someone else that might have done it already, no luck here ! :)

Thanks Pedro, I'll keep in touch bringing updates once I start digging in it.

Wagner Pereira

De: "Pedro M. Baeza" notifications@github.com
Para: "OCA/multi-company" multi

[2016-08-25 15:15] artaf opened #27 "Isolate company's objects"
At least in version 9.0 all journals, invoices, entries etc are visible during the work with a particular company.
In my opinion each company must have its own 'space'. Only company's objects must be visible until other behavior is not chosen in settings.

[2016-08-25 17:02] pedrobaeza commented on #27
That happens using admin user. You MUST NOT USE this user in multi-company.

[2016-08-25 17:02] #27 closed, assigned to nobody

[2016-10-11 12:18] pedrobaeza opened #29 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [x] account_type_multi_company - By @luc-demeyer - #73
- [x] partner_multi_company - By @lasley - #47
- [ ] product_autocompany
- [x] product_multi_company - By @lasley - #35
- [ ] product_name_unique_per_company
- [ ] sale_layout_multi_company - By @SimoRubi - #83
- [ ] sales_team_multicompany
-

[2017-04-15 21:50] lasley opened #37 "[RFC] Product Variants by Company"
The intent behind these modules will be to provide a `product.template` that is usable for multiple companies, isolated at the variant level. Paired with [`website_sale_product`](https://github.com/OCA/e-commerce/issues/171), this will allow for multiple companies to share the same product template but still provide a differentiation between them.

The easy side of this will be covered in `product

[2017-04-15 21:53] pedrobaeza commented on #37
Isn't https://github.com/OCA/multi-company/tree/9.0/product_multi_company enough?

[2017-04-15 21:58] lasley commented on #37
I use and love `product_multi_company`, however it is not. I am planning on making a glue module though that will add companies from the variants into the `company_ids` provided by that module in the product template.

The current product => company mapping (namely for website_sale) in Odoo is based purely on the user. E.g.:
* User A company_id is Company A
* Product A company_id is Company B
* Us

[2017-04-15 22:33] lasley commented on #37
Also just to note, we'll also make a glue module for `partner_multi_company`. This will automatically assign companies to partners as the sale orders are created. This will allow for the child companies to manage their own customer lists.

[2017-04-17 19:41] lasley opened #38 "[RFC] partner_multi_company_active: Active per Company"
This module will allow for a partner to be assigned to multiple companies, but only active in a few of them. It could also easily be added directly into `partner_multi_company`, but I'm not sure if the functionality would be wanted by all.

Currently if a partner is assigned to two companies (C-A & C-B), is deactivated by C-A, it is also deactivated for C-B. This is not ideal, and could cause for

[2017-04-18 05:40] pedrobaeza commented on #38
I prefer this to be part of partner_multi_company.

:+1: to the reasons why this is needed.

[2017-04-18 16:50] lasley commented on #38
@pedrobaeza Sweet I was honestly hoping you would say that. Another module seemed excessive

[2017-04-18 16:53] lasley commented on #29
@pedrobaeza can you please add `partner_multi_company` to this & tag @laslabs to it - referencing  #38. We'll migrate and add the active feature at the same time.

[2017-04-18 16:57] pedrobaeza commented on #29
Done

[2017-04-20 02:59] lasley commented on #38
Ok so as I was playing around with other modules in multi company context, I see this being a recurring theme. I went ahead and made a PoC for a `base_multi_company` module including a deactivation mixer following a similar plan as to what I laid out here - #39.

I will leave this open still though because it's not implemented where we need it yet.

[2017-05-04 09:29] angedras commented on #29
Started migration of stock_production_lot_multi_company for 10.0

[2017-05-04 09:32] pedrobaeza commented on #29
Maybe you should wait to have this module: https://github.com/OCA/multi-company/pull/39

[2017-05-04 09:38] angedras commented on #29
@pedrobaeza ok thanks

[2017-05-23 13:04] angedras commented on #29
#39 is  merged, starting the migration of stock_production_lot_multi_company to version 10.0

[2017-05-25 23:18] agb80 opened #43 "base_multi_company - question"
I just discover this module and wonder what will be the advantages of use it like foundation for a new multi_company objects besides the traditional odoo method?

Thanks in advance for your answers!

[2017-05-26 00:16] pedrobaeza commented on #43
@lasley maybe it's good to indicate in the README that this is for having granular permissions by company or a similar text

[2017-06-01 09:27] angedras opened #44 "Permission rule not applied using base_multi_company module"
Hi,
I have a problem with the module base_multi_company, I started the migration of module stock_production_lot_multi_company that inherit the base module (WIP [here](https://github.com/angedras/multi-company/tree/10.0-mig-stock_production_lot_multi_company))
I apply a rule to prevent the user to create or read lot data of other companies (security/stock_production_lot_security.xml) but the rule i

[2017-06-01 22:51] lasley commented on #44
Hi @angedras - Nope you haven't misunderstood the module purpose, and it looks like you've implemented the inheritance correctly. Honestly I don't think I considered security rules when I was making the base, because they don't seem to be implemented in any of the edge modules.

@pedrobaeza - am I missing something? I feel like I saw security somewhere, but I'm not seeing them in the v9s.

[2017-06-07 20:23] lasley commented on #44
@angedras - I believe the solution to your issue is that you instead want to use a hook to override the pre-existing security. Take a look [here](https://github.com/LasLabs/multi-company/blob/76733358dd329e1eed07f9c1bb8f2a6bc464fb49/product_template_multi_company/hooks.py)

[2017-06-23 04:06] lasley opened #48 "Multi Company Hooks - Inactive Records"
All of our multi company hooks are susceptible to one simple issue - domains are implicitly forced to only include `active=True` items. This is a problem when it comes to pre-existing, yet deactivated items.

I have a quick fix, but am still in console on a production database. Didn't want to forget this, so please ping me if I do (week or twoish)

[2017-06-23 16:48] lasley commented on #48
Alright I think we're good here, I'm going to close to track in the PRs. Looks like I wrote around this in v10 `base_multi_company`, so we're implicitly good there I think too.

[2017-06-23 16:48] #48 closed, assigned to lasley

[2017-06-24 11:47] jeffery9 opened #53 "[10.0] install Product multi-company report ' mandatory field is not correctly set'"
The operation cannot be completed, probably due to the following:
- deletion: you may be trying to delete a record while other records still reference it
- creation/update: a mandatory field is not correctly set

[object with reference: res_company_assignment_id - res.company.assignment.id]

[2017-07-23 09:29] hungtd7 opened #59 "Can not find module on Odoo 9"
Hi

I have updated App list, but no result when I find it. I

How to install multi-company module?

Thanks

[2017-07-23 13:11] pedrobaeza commented on #59
There's no "multi-company" module. Just simply several multi-company related modules. Check the list on the repo and improve your knowledge in Odoo.

[2017-07-23 13:11] #59 closed, assigned to nobody

[2017-09-09 20:21] lasley commented on #43
Hi @agb80 - does the new ReadMe in #65 answer these questions?

[2017-10-03 14:49] pedrobaeza opened #69 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x] account_invoice_inter_company - By @astirpe - #81
- [ ] account_type_multi_company
- [x] base_multi_company - By @rodrigets - #107
- [x] partner_multi_company - ~~By @rodrigets - #108~~ - By @cubells - #115
- [ ] product_autocompany
- [x] product_multi_company - By @cubells - #116
- [ ] prod

[2017-10-31 20:48] pedrocs-exo opened #72 "partner_multi_company: user's partner random existence"
Hi,
I found a weird bug on the partner_multicompany module: a user's partner is only visible to its Current Company users. Steps to reproduce:
1. Create User 1 and User 2 and set Company A and Company B on Allowed Companies for both. As partners for these users are automatically created, you may as well associate them to Company A and B on the partner form.
2. Log in as User 2, select Company B an

[2017-11-01 10:57] pedrobaeza commented on #72
Version?

[2017-11-01 11:17] pedrocs-exo commented on #72
Oops, forgot to mention that. Version 10.

[2017-11-01 15:38] pedrobaeza commented on #72
@lasley have you experimented this?

[2017-11-01 15:46] lasley commented on #72
This one's new to me.

The key is the partner itself. The `company_ids` field is resetting to only the company selected as the primary in the user form. If you navigate to the partner, you can re-add the other company (in the case of Runbot `fourth`), and the partner appears again.

This doesn't happen in console, so I'm assuming there is an `onchange` in play.

[2017-11-01 22:40] lasley commented on #72
It's in the [`res.users.write`](https://github.com/odoo/odoo/blob/c7a6409fac80a2d33006ab56fe40d27f2acd2cfd/odoo/addons/base/res/res_users.py#L356). Naturally it's nested deep 😑

[2017-11-23 23:11] conroyke56 opened #75 "Odoo 11 multi company Seperate Product Catalogues error"
Company A has stock A1
Company B has Stock B1

Company A can transfer stock B1 even though "Common Product Catalog" is not selected and stock is assigned to Company B

may relate to rule "product.product_comp_rule"

Any fixes?

[2017-12-01 08:14] bunhin opened #76 "purchase_sale_intercompany"
Hi,
I want to try purchase_sale_inter_company in V10, but it is seem not listed as addon to be ported into v9 or v10. Is this addon not needed in v10 or not suitable anymore?

Please help with info

Thanks,

[2017-12-01 08:15] pedrobaeza commented on #76
It has not been migrated yet.

[2017-12-01 08:15] #76 closed, assigned to nobody

[2017-12-07 00:44] odaybari opened #77 "partner_multi_company V9.0 - error 403 forbidden in E-commerce shop page"
Hi,
I am getting 403 forbidden page for E-commerce shop page. Once i unInstall this plugging, no issue.
Is anyone using, partner_multi_company with e-commerce plugging, having the same issue?

[2017-12-11 15:46] AlainVanUtterbeeck opened #78 "product_tax_multicompany_default enhancement: adding a new company"
I use product_tax_multicompany_default and currently have 5 companies (thanks to the contributers, it works nicely).
I now need to add a new company: what's the easiest way to get the database correct so that all products are also usable in the new company?
It doesn't need to be an enhancement in the module, possibly an example query in the doc of the module could do the trick, although it might b

[2017-12-11 16:43] pedrobaeza commented on #78
Sorry, but this is not something to enhance in this module. Use mass_editing.

[2017-12-11 16:43] #78 closed, assigned to nobody

[2017-12-14 23:54] #43 closed, assigned to lasley

[2018-01-18 16:00] SimoRubi commented on #29
Hi,
I'm working on the migration of [sale_layout_multi_company](https://github.com/OCA/multi-company/tree/8.0/sale_layout_multi_company) in #83

[2018-02-10 14:34] farazbdm opened #84 "display_name becomes non searchable once this module is installed"
this module makes the partner display_name field to be non-stored and thus the search function of partner on the display_name becomes invalid resulting in following error:

ERROR database odoo.osv.expression: Non-stored field res.partner.display_name cannot be searched.

[2018-02-10 15:04] pedrobaeza commented on #84
Which module?

[2018-02-17 18:44] odaybari commented on #77
Dear oca community, can you plz look into this bug? Kind regards

[2018-02-22 20:50] sharonshentc opened #85 "[10] base_multi_company _compute_company_id improvement suggestion"
Hi, can you make some changes to _compute_company_id in base_multi_company? It can fix some potential issues... it will definitely fix the current issue we are having inheriting from this module.

Replace:
[code]
With this:
[code]
So now, it will take the logged user's current company instead of taking the first company allowed of that logged user. I left the original code in "else", in case it's

[2018-02-23 08:48] pedrobaeza commented on #85
Please make a PR (https://odoo-community.org/page/code) rewriting it this way:
[code]

[2018-02-23 17:40] sharonshentc commented on #85
Hi, I don't understand your code? what does (self.env.user.company_ids - record.company_ids) do? it intersects the 2 lists? (I think this is what we want, the intersection of the 2 lists...)

[2018-02-23 17:41] pedrobaeza commented on #85
Set operation called difference

[2018-02-23 17:42] pedrobaeza commented on #85
But you are right. It's intersection what is needed. Please change it to `self.env.user.company_ids & record.company_ids`

[2018-02-23 17:43] sharonshentc commented on #85
i thought the minus was overwritten by odoo or something...

[2018-02-23 17:47] pedrobaeza commented on #85
Well, indeed each operator can be overwritten in Python for adding your own logic about what the operation means for you, and it's done in that way with recordset, but as said, it's intersection what we want.

[2018-02-23 18:07] sharonshentc commented on #85
yeah, i mean i thought the minus was overwritten in odoo to do intersection, which would be crazy, but since i'm new to python and odoo, i wasn't sure :)

[2018-02-23 18:08] pedrobaeza commented on #85
Sorry, my bad

[2018-02-23 18:12] sharonshentc commented on #85
no problem

[2018-02-23 20:51] sharonshentc commented on #85
Sorry but i think i will use the original code... record.company_ids is actually res.company.assignment. The code you suggested needs to be converted to sets and it also give me apple-orange error...

[2018-03-09 21:53] cesarsc79 opened #88 "[11]"
i configure this module:

i go to the menu Settings > Users & Companies > Companies, select one of the companies

BUT

tab Inter-Company IS NOT

I´ve try in runbot 2minutes ago

WHERE IS THE  inter-company tab?????????

![captura](https://user-images.githubusercontent.com/25187665/37231731-914c70b2-23ec-11e8-9dea-49e3eb285224.PNG)
.

[2018-03-13 10:14] Yenthe666 commented on #69
@pedrobaeza it looks like `account_invoice_inter_company` is migrated but it is not on the app store of Odoo. Perhaps it is nice to add it there too? Only 8.0 is available there.

[2018-03-13 10:22] pedrobaeza commented on #69
I will check. I think there's a conflict. I'll tell you.

[2018-03-13 10:27] Yenthe666 commented on #69
Awesome, thanks a lot.

[2018-03-13 10:39] pedrobaeza commented on #69
It's not published because of

[code]

but that one can't be registered because:
[code]

@alexis-via @bealdav can you please check this and tell Apps to remove your one?

@Yenthe666 curiously, this is another issue :wink: :
[code]

[2018-03-13 10:58] Yenthe666 commented on #69
@pedrobaeza thanks for the feedback. About the `auto_backup` repository:  yeah, somebody from OCA once asked me if they could take it into OCA and handle it there. I said yes and also kept/developed for my version. That's why we have the conflict now 😉
Too bad multiple modules with the same name or not possible from different repositories by the way.

[2018-03-13 11:25] pedrobaeza commented on #69
Then maybe you can also donate it in apps for avoiding the problem.

[2018-03-13 12:32] Yenthe666 commented on #69
I've been wanting to expand & improve it for ages but it is somewhere on the endless "to do" / wishlist hehe.

[2018-03-13 14:11] pedrobaeza commented on #69
I mean that say to Apps Manager to remove it yours to allow OCA one to be displayed

[2018-03-18 12:07] mamcode commented on #69
Why isn't the module partner_multi_company on this list?

[2018-03-19 08:42] pedrobaeza commented on #69
Because it was merged after the branch creation, but I have added it manually.

[2018-03-19 16:59] mamcode commented on #69
Good, I am working in that! and also in migration of base_multi_company because it is a dependence... Already I have base_suspend_security (server-tools) done! In the next few days I'll be doing pull requests.

[2018-03-19 17:01] pedrobaeza commented on #69
Great, waiting then for your PRs. Please take into account to preserve commit history. You can follow migration guide: https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

[2018-03-19 17:10] mamcode commented on #69
Thank you @pedrobaeza  I'll take that into account.

[2018-04-05 10:44] nhomar commented on #88
hello.

AFAIK that's an enterprise feature, did you tested on enterprise?

[2018-04-05 10:47] pedrobaeza commented on #88
Well, there's a community version, but not yet migrated to v11, so we can close this.

[2018-04-05 10:47] #88 closed, assigned to nobody

[2018-04-23 15:06] chafique-delli commented on #53
@pedrobaeza, @lasley , I confirm.

[2018-04-23 15:07] pedrobaeza commented on #53
Have you tried after the PR merged this morning #91?

[2018-04-23 15:07] pedrobaeza commented on #85
Fixed after merging #91

[2018-04-23 15:07] #85 closed, assigned to nobody

[2018-04-23 15:19] chafique-delli commented on #53
@pedrobaeza , yes, I just re-test, it's the same.

[2018-04-23 15:21] pedrobaeza commented on #53
OK, then it should be another thing. Well, I haven't faced it and runbot is building correctly. Any PR fixing it is welcome.

[2018-05-15 07:50] pedroortega-punt commented on #84
Buenos días,

@pedrobaeza

Cuando se instala el módulo "partner_multi_company" la búsqueda por nombre en clientes deja de funcionar, y en la vista tree no deja ordenar por nombre.

[2018-05-15 07:50] pedroortega-punt commented on #84
V10

[2018-05-15 08:00] pedrobaeza commented on #84
Only in English, please. I'm looking at the module and dependencies and it doesn't change anything about display_name.

[2018-05-15 14:03] pedroortega-punt commented on #84
Good Morning,

@pedrobaeza

When the "partner_multi_company" module is installed, the search by name in clients stops working, and in the tree view it does not allow to sort by name.

[2018-05-15 14:04] pedrobaeza commented on #84
As already said, there's seems to be no relation on that, as neither name nor display_name fields are touched in this module.

[2018-05-15 14:10] pedroortega-punt commented on #84
@pedrobaeza

I'm not a programmer, they're a consultant. But I can assure you that at the moment you install the partner_multi_company module, the search by name and sort by name will stop working.

Also if you uninstall the module after associating several companies in a partner and want to install again, you get a message that can not be installed because a partner has two companies, so I infer

[2018-05-15 15:03] pedrobaeza commented on #84
You can try in http://3326111-10-0-f60542.runbot1.odoo-community.org/web#min=1&limit=80&view_type=list&model=res.partner&menu_id=112&action=56, that is the current 10.0 OCA runbot, where the module is installed, and everything is working fine, so please be sure before posting issues about what is the real problem.

[2018-05-15 15:33] pedroortega-punt commented on #84
@pedrobaeza

Sorry,

I had checked it perfectly and it does not work, what should have been detailed in which menu, in the accounting / clients if it works, in the sales / clients does not work.

[2018-05-15 15:34] pedroortega-punt commented on #84
You can try in http://3326111-10-0-f60542.runbot1.odoo-community.org/web#min=1&limit=80&view_type=list&model=res.partner&menu_id=189&action=55

[2018-05-15 18:09] pedrobaeza commented on #84
OK, reopening the issue, but I haven't checked the root cause.

[2018-05-17 10:54] Iskander-NSK commented on #84
I have this problem too. Source of the problem - hooks.py
post_init_hook - do not allow next installation after uninstall module; display_name becomes non searchable after 1-st installation.
uninstall_hook - display_name becomes clean after module uninstall.
But I'm not programmer and do not know what to do next.
I hope this information will allow find the problem.

[2018-05-18 02:19] Iskander-NSK commented on #84
Repeat installation failed after install and uninstall module without hooks.py...
I'm confused...

[2018-05-18 06:13] Iskander-NSK commented on #84
So ... the problem of stopping search by the display_field is associated with the inheritance of the model multi.company.abstract in partner_multi_company/models/res_partner.py
I will clarify some points: if you disable the import of methods from the file partner_multi_company/hooks.py, the module is installed and uninstalled without problems;
but after it is installed, the search for display_name

[2018-05-21 03:13] Iskander-NSK commented on #84
Search work succesfully.
in res_partner.py need to add string:
display_name = fields.Char(string='Display Name', compute='_compute_display_name', store=True)
and in import section need to add fields.

P.S. hooks.py till disabled because otherwise error if the module installed after uninstall.
Error:" The operation cannot be completed, probably due to the following:
- deletion: you may be trying to

[2018-05-24 22:15] farazbdm commented on #84
@Iskander-NSK
can you please provide a code fix as per above instruction if it fixes the issue.

[2018-06-12 15:17] igallart commented on #84
This is a possible solution.
https://github.com/OCA/multi-company/pull/103

[2018-06-19 18:37] pedroortega-punt commented on #84
Is @igallart solution correct?

[2018-06-19 22:56] pedrobaeza commented on #84
I don't see it clear. I have asked on the PR itself.

[2018-06-26 21:22] farazbdm commented on #84
@vipvalen  yes the solution by @igallart  worked with me. Thanks alot.

[2018-06-29 10:10] RoelAdriaans commented on #69
@mamcode Any progress on your migration to 11.0?

[2018-07-08 11:09] mamcode commented on #69
@RoelAdriaans Due to changes in the project I was working on I couldn't continue with the migration but I'll take it back this week.

[2018-07-09 09:00] RoelAdriaans commented on #69
@mamcode Great! Let me know if you're finished or have any problems..
Going to migrate product_multi_company after that

[2018-07-09 09:54] mamcode commented on #69
@RoelAdriaans You can count on it!

[2018-08-03 06:20] pedroortega-punt commented on #84
@pedrobaeza
The igallart solution is working correctly on my client, can you please do the merge?

[2018-08-30 13:34] Cedric-Pigeon opened #109 "[RFC] performances issues on product_multi_company used on huge database"
Hi,

I am using product_multi_company on a very big database containing more than 110.000 products spread over 5 companies.

The problem I am facing is bad performance when accessing product.product model.
The record rule is based on a many2many field but when reading through an inherits relation it is not well optimized. We get huge subqueries with expression `id in`.

We are planning to add a te

[2018-08-30 13:35] Cedric-Pigeon commented on #109
@sbidoul @lmignon

[2018-09-01 07:59] mdmfox commented on #84
Hey guys, any updates about this issue?
I have installed the solution by @igallart and it worked on my server.
However, I saw the some test checks were not successful; and in my case it erased the res_partner display_name.
Anyways, thanks!!

[2018-09-01 11:50] igallart commented on #84
@mdmfox, with display_name erased, the search in partners of sales worked when you search by name?

[2018-09-03 08:18] pedrobaeza commented on #109
Can `auto_join` help?

[2018-09-03 08:28] lmignon commented on #109
@pedrobaeza The problem seems to be related to https://github.com/odoo/odoo/issues/26702
`company_ids` is already declared with `auto_join=True`

[2018-09-03 08:57] pedrobaeza commented on #109
OK, I see. Then it's OK to go to that patch. It's similar to the parent_left/parent_right deprecation done on master.

[2018-09-03 08:59] sbidoul commented on #109
@pedrobaeza @lmignon @Cedric-Pigeon there is a better solution I think. We can optimize the search for company_ids=False if we have a stored flag 'visible_for_all_companies' that is set to True when company_ids is empty, and use it in the record rule.

[2018-09-03 09:03] pedrobaeza commented on #109
OK, that can be another solution that seems cleaner.

[2018-09-12 04:36] mdmfox commented on #84
Hi @igallart, the search in partners only works by email after the change, by the settings at the view id="view_res_partner_filter". But exactly, because in my case, there was no filled register with display_name.
After I update 'res_partner.display_name' from 'res_partner.name' everything was working perfectly.

[2018-09-27 00:12] OCA-git-bot opened #112 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] account_invoice_inter_company - By @bealdav - #119
- [x] account_multicompany_easy_creation - ~~By @kittiu - #126~~ By @ernestotejeda - #161
- [x] base_multi_company - By @florian-dacosta - #123
- [x] partner_multi_company - ~~By @jokekerker - #127~~ - By @kittiu - #136
- [x] product_multi_c

[2018-10-22 09:54] Ark74 opened #113 "[product_multi_company] Unable to export res.company.assignment"
**Module:** product_multi_company
**Odoo:** v10

I'm testing this module, on latest v10.
When trying to export the table res_company_assignment for the products using the product_multi_company module, I'm getting.

`Exception: You can not export the column ID of model res.company.assignment, because the table res_company_assignment is not an ordinary table.`

Is this normal behavior?
or am I hitti

[2018-10-22 12:56] pedrobaeza commented on #113
Yes, that table is a wildcard view table for being able to select any company where you are on a specific one, as res.company is limited to the current one.

[2018-10-22 12:56] #113 closed, assigned to nobody

[2018-10-22 14:33] Ark74 commented on #113
Ok, then how do you update companies for hundreds of products?
Directly at db level?

[2018-10-22 14:35] pedrobaeza commented on #113
IDs are exactly the same than the res.company. It's just a visualization trick.

[2018-12-11 16:58] SimoRubi opened #117 "[10.0] production lot with same name and product gets blocked"
Maybe I am misunderstanding the purpose of stock_production_lot_multi_company, but I have installed the module and here is my issue.

Steps to reproduce the issue in runbot:
1. **With admin**: Create a product *product_lot* with company_ids empty, stockable and tracked by lots
2. **With admin**: Give to usera and userb Inventory / Manager
3. **With usera**: Create a purchase for 1 product_lot and

[2018-12-18 07:42] mayjo79 commented on #69
Why isn't the module purchase_sale_inter_company on this list?

[2018-12-28 22:22] emagdalenaC2i commented on #69
@pedrobaeza Please, add to the list account_invoice_inter_company - By @astirpe - #81
There is a PR for the migration of product_multi_company - By @cubells - #116
You could add to the list purchase_sale_inter_company - By @carlosdauden - #97

[2019-02-13 16:11] bealdav commented on #112
https://github.com/OCA/multi-company/pull/119 account_invoice_inter_company for me WIP

[2019-02-21 08:26] bodedra commented on #23
@nicoclavier These issue is a invalid for me. Here is reason.

1. https://github.com/odoo/odoo/blob/9.0/addons/sales_team/sales_team.py#L45 these line will set default company. And with these sales_team_multicompany module it just disable default method.
2. model_id is already declared at https://github.com/odoo/odoo/blob/9.0/addons/sales_team/security/sales_team_security.xml#L6 . When we override

[2019-02-21 08:27] pedrobaeza commented on #23
Yes, closing.

[2019-02-21 08:27] #23 closed, assigned to nobody

[2019-05-17 05:01] kittiu commented on #112
https://github.com/OCA/multi-company/pull/126 account_multicompany_easy_creation for me WIP

[2019-05-20 03:38] kittiu commented on #112
Please withdraw me from this issue.

[2019-06-18 10:32] kittiu commented on #112
partner_multi_company is on me - https://github.com/OCA/multi-company/pull/136

[2019-07-19 14:06] max3903 opened #144 "[ADD] Consolidated invoices"
This module allows organizations with multiples companies to transfer the liability of a customer to another company and provide the customer with a unique consolidated invoice to pay.

# Workflow

## Company 1 - Create and validate invoice
[code]
## Company 2 - Create and validate invoice
[code]
## Company 3 - Create consolidated invoice
Nothing happens but selection of company1 and company2 invo

[2019-09-29 21:42] OCA-git-bot opened #153 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] account_invoice_inter_company - By @AdriaGForgeFlow https://github.com/OCA/multi-company/pull/196
- [x] account_multicompany_easy_creation - By @CarlosRoca13 - #213
- [x] purchase_sale_inter_company - by @AdriaGForgeFlow https://github.com/OCA/multi-company/pull/199
- [x] base_multi_company

[2019-10-08 10:57] metaminux opened #160 "[10.0] account_invoice_inter_company : changes in onchange_helper (play_onchanges method) result in empty invoice"
Changes introduced in OCA/server-tools#1510 are modifying the result of the "play_onchanges" method.

Steps to reproduce :
- Create a supplier invoice from company S (supplier) for company C (customer)
- Add an invoice line for 120.0 (100 + 20% VAT)
- Validate the invoice

Expected result :
- The supplier invoice is validated with one line of 120.0
- A customer invoice is generated for company S t

[2019-10-15 10:32] jesusVMayor commented on #112
WIP purchase_sale_inter_company https://github.com/OCA/multi-company/pull/163

[2019-10-22 08:09] LoisRForgeFlow commented on #84
I can confirm this issue also happens in v11, I also tested in runbot, this is what happens after the installation of the module partner_multi_company:
![picture-2019-22-10](https://user-images.githubusercontent.com/23449160/67268106-f946c980-f4b3-11e9-9851-59aa9718c4f9.png)

~In v12 seems correct though.~ EDIT: it happens.

[2019-10-23 11:44] pedrobaeza commented on #84
Fixed in #165

[2019-10-23 11:44] #84 closed, assigned to nobody

[2019-10-30 22:33] max3903 opened #171 "[RFC] account_bill_line_distribution"
Depends on: account_invoice_consolidated

# Description

Odoo Accounting allows to create vendor bills and 100% of the expense is accounted in the current company. Some holding needs to be able to distribute some vendor bills (like rent) across multiple children companies.

# Configuration

* On each company, set the Due To/Due From Account and Journal
* Make sure the companies share the same char

[2019-10-31 16:13] max3903 opened #170 "[RFC] account_payment_other_company"
Depends: account_invoice_consolidated
License: AGPL-3
Estimation: 12 hours

# Description

Odoo Accounting allows each company in a multi-company environment to register payments for their own invoices. Some holding companies needs to be able to register a payment to a vendor bill of another company and automatically create due to's and to from's based on these transactions.

This module allows yo

[2019-10-31 16:37] pedrobaeza commented on #170
I think this should go in OCA/multi-company or OCA/account-payment, but not here.

[2019-10-31 16:44] max3903 commented on #170
It depends on the module already here...

[2019-10-31 16:47] pedrobaeza commented on #170
Well, that module includes consolidated word but it can be considered as well for OCA/multi-company the same as intercompany rules.

[2019-10-31 16:56] max3903 commented on #170
Intercompany seems related to rules at the SO/PO and Receipts/Delivery Orders level... This is dealing with processes at the accounting level only.

[2019-10-31 16:58] pedrobaeza commented on #170
OK, my PoV is to move it, but I'm not going to block it because of that.

[2019-10-31 20:58] max3903 opened #172 "[FIX] account_invoice_consolidated"
- [ ] Move the module here (https://github.com/OCA/account-consolidation/issues/27)

# Background

This module only allows to consolidate invoices that the user has read access to (invoices of children companies).

# Requirements

* Holdging need to be able to consolidate all invoices from all companies regardless of the hierarchy of companies.
* This invoice should show all the line items from al

[2019-11-25 18:07] metaminux commented on #160
Hi @lmignon,
Could you please take a look at this issue ?

[2019-12-23 13:21] andriisem opened #181 "Product category multi-company"
Hi,

Expected result :
When we use product multi-company can we use separate product category for each company

Current behaviour :
When we change a product category in **Company 1** on the product it also changes it in **Company 2**

[2019-12-23 21:03] #181 closed, assigned to nobody

[2020-01-07 08:43] gbeuning opened #182 "When a user switches from one company to another the companies of the related partner are rewritten in stead of amended (partner_multi_company)"
Hi,

I'm experiencing some issues with `partner_multi_company` when a user switches from one company to another.

**Use case:**

- User 1 has access to both company A and B.
- The related partner of this user also has access to both company A and B.
- This user switches from company A to company B.

This results in a `res_users` write action (because `res_users.company_id` is changed). The compani

[2020-01-07 17:50] #170 closed, assigned to max3903

[2020-01-08 01:35] max3903 opened #183 "[RFC] account_move_multi_company"
Depends: account_invoice_consolidated
License: AGPL-3

Odoo allows a journal entry to be posted in the same company. In a multi-company environment, it allows to have inter-company transactions at the sale order and purchase order level.

Some group/holding have setup a company structure where an employee is paid by a company of the group but is working part-time for another company of the group.

[2020-01-15 13:47] v-garcies opened #185 "product_tax_multicompany_default : Search for taxes by tax_group_id instead of name"
If you change the name of the taxes like this for example:
- TVA collectée 20,0% (Company A)
- TVA collectée 20,0% (Company B)
- TVA collectée 20,0% (Company C)

The "Propagate Taxes" button does not work.

Instead, I changed "taxes_by_company" function from "ProductTemplate" class to search by taxes group.
Like this : (product.py : line 22)

[code]

[2020-01-15 13:56] pedrobaeza commented on #185
That's not valid as you can have several taxes in the same group. A better algorithm would be to look for XML-ID, taking into account that now there are auto-generated XML-IDs following a pattern (`company_` + `template_xml_id`).

[2020-02-05 08:12] SimoRubi opened #188 "[10.0] Broken Travis"
Travis CI is broken for 10.0, see https://travis-ci.org/OCA/multi-company/branches.
Is anyone already looking into this?

Thanks

[2020-02-26 18:19] JordiBForgeFlow commented on #182
I agree with this. @MiquelRForgeFlow can you tackle this one? cc @LoisRForgeFlow

[2020-02-27 11:36] MiquelRForgeFlow commented on #182
Done in https://github.com/OCA/multi-company/pull/190

[2020-03-06 10:20] MiquelRForgeFlow commented on #182
Can be closed.

[2020-03-06 10:21] #182 closed, assigned to MiquelRForgeFlow

[2020-03-09 08:09] #112 closed, assigned to nobody

[2020-03-12 12:08] ghost opened #194 "[12] purchase_sale_inter_company. Error when validating purchase oder"
When a RFQ is created  on the moment to be validated this message appears.
![01](https://user-images.githubusercontent.com/25029267/76518832-1f1f3b80-6460-11ea-8929-a86af92a276d.png)

The reason is that the company changes automatically. But Odoo continues showing the company that mades the purchase order.
![02](https://user-images.githubusercontent.com/25029267/76518966-5e4d8c80-6460-11ea-9dfb-3c

[2020-03-16 03:25] kimbo23 commented on #194
I have the same error. Any advice or solution?

[2020-03-16 14:52] ghost commented on #194
I don't have a solution yet. I don't know if it's a bug and it's going to be fixed or not.

[2020-03-16 17:58] kimbo23 commented on #194
Do you know how i can setup this situation: I have 2 companies A and B. Company A is a Vendor and company B is a customers. If company B make a purchase to company A, works good with this module, but if company A make a sale quotation or sale order to company B, i don´t see the purchase order or even the inventory receipt on company B. Maybe i´m doing something wrong do you know how i can setup th

[2020-03-16 22:51] ghost commented on #194
You have to read the module's description.
"This module is useful if there are multiple companies in the same Odoo database and those companies sell goods or services among themselves. **It allows to create a sale order in company A from a purchase order in company B.**
Imagine you have company A and company B in the same Odoo database:
Company A purchase goods from company B.
Company A will creat

[2020-03-17 13:49] #171 closed, assigned to max3903

[2020-04-08 17:03] ghost opened #202 "[12]purchase_sale_inter_company: Purchase order is not set as billed when vendor bills is created autotically"
Hello,
I have detected a stange behaviour and i don't know if it's correct or not. It happens when:
1. A purchase order is made on C1. OK
2. A sale order is generated on C2. OK
3. Sale invoice is generated on C2. OK
4. Automatically in C1 a purchase invoice is created. But this invoice:
  - Don't have products.
  - Is not related to origin purchase order. So the purchase order stays as not billed

[2020-04-13 21:16] max3903 opened #204 "[RFC] account_bill_line_distribution"
We need to add the possibility for the user to enter the amount instead of the percentage.

# Technical Specifications

- [ ] Display the field amount on the form view of the vendor bill line
- [ ] Remove the compute of the "amount" field
- [ ] Rename the "_compute_amount" method "onchange_amount" and update the decorator
- [ ] Add an onchange_percent method on the amount field
- [ ] Compute the p

[2020-04-17 06:51] ghost commented on #202
Hello,
Does anyone know something about this?
Thanks.

[2020-05-01 04:26] supakornkim commented on #194
Hello,
I also have this error and also the unit price of the generated PO and SO is incorrect (input 10 but turn to 1 ).

[2020-06-25 09:30] amirhassan-sprintit opened #226 "Validating SO triggered by PO is not possible"
![image](https://user-images.githubusercontent.com/53554413/85694008-682d8f80-b6df-11ea-8a86-caefc22db3ac.png)

When trying to validate a SO created from a PO from another company, the above notification appears. The product pulled from the stock of the selling company by the SO does not seem to have a line on the same SO.

**Steps to replicate error:**

1) In a multi company database (Odoo 13.0 E

[2020-06-25 09:36] amirhassan-sprintit opened #227 "SO generated by PO cannot be viewed due to multi-company restrictions"
![image](https://user-images.githubusercontent.com/53554413/85695093-63b5a680-b6e0-11ea-8d91-0c9a6ead278c.png)

When trying to view an SO triggered by a PO from another company in the vendor company, the above error is given.

The purchasing company needs to be activated in order for the SO to be viewed.

[2020-06-25 09:38] pedrobaeza commented on #227
It seems you have the res.partner restricted to a company, which is not valid. You must empty `company_id` field for that record.

[2020-06-25 09:38] #227 closed, assigned to nobody

[2020-06-26 19:01] kirca commented on #153
migrated `res_company_code` in https://github.com/OCA/multi-company/pull/228

[2020-06-29 07:55] mariaasunciondaza commented on #153
#229 calendar_event_multi_company

[2020-07-02 06:24] mmotahar commented on #194
Hello,

The error is simply coming from the following line

https://github.com/OCA/multi-company/blob/12.0/purchase_sale_inter_company/models/purchase_order.py#L93

If after creation of the sales order we add a few lines to switch the user back to the user account that it was before

AND commit a small change like saving internal notes against the original purchase order, It solves the problem.

A

[2020-07-08 13:07] thomaspaulb commented on #84
It seems this is a bug in Odoo itself. I think that because the `display_name` was [changed to an automatic field](https://github.com/OCA/OCB/blob/10.0/odoo/models.py#L438), and [automatic fields dont inherit properties](https://github.com/OCA/OCB/blob/10.0/odoo/fields.py#L438), the "store" property on res.partner gets lost along the way.

Adding a line of `display_name = fields.Char(compute='_com

[2020-07-31 12:50] rousseldenis commented on #188
@pedrobaeza Do you have a clue as you are the last one who looked into this repo?

[2020-07-31 14:02] pedrobaeza commented on #188
It seems a change upstream that restricts permissions that caused this, but we are not working anymore with v10.

[2020-07-31 17:14] rousseldenis commented on #188
@pedrobaeza @SimoRubi https://github.com/OCA/multi-company/pull/237 is fixing problem on base_multi_company.

[2020-08-03 14:07] pedrobaeza commented on #188
Fix on the way.

[2020-08-03 14:07] #188 closed, assigned to nobody

[2020-08-28 23:06] quentinDupont commented on #153
`res_company_category` seems good here : https://github.com/OCA/multi-company/pull/157

[2020-09-01 20:38] Random-nobody opened #240 "[13] mail_multicompany: Emails do not reach destination without any reason"
I have two companies with two websites.

- Company A with Website A
- Company B with Website B

I defined two outgoing mail servers:
- Server A
- Server B

Thanks to the `mail_multicompany` I assigned them to the corresponding companies. When Odoo sends emails it seems like correct mail server is assigned (for example when creating sale order form the Website A it assigns Server A and from Website

[2020-09-02 11:20] #240 closed, assigned to nobody

[2020-09-02 21:52] thiyok commented on #240
Hi Gumaa,

For me, I can get the email....but it used only the same gateway from Server A for Website A, even if I sent Orders from website B.

Do you know how can I fix this?

Thank you

Matthias

[2020-09-16 12:28] bealdav opened #242 "12.0 account_invoice_inter_company, unproper behavior of company_share_product = False"
## What's wrong

In v12 we have this code and an equivalent in v11
https://github.com/OCA/multi-company/blob/12.0/account_invoice_inter_company/models/account_invoice.py#L232-L234

Analysis:
`if dest_company.company_share_product is True` : whatever company_id field, all products are shared (weird odoo settings https://github.com/odoo/odoo/blob/12.0/addons/product/models/res_config_settings.py#L10

[2020-09-16 13:30] astirpe commented on #242
About this point I already expressed some doubts in https://github.com/OCA/multi-company/pull/119/files#r269030308. The fact is that at the moment there's no easy way for a user to configure the shared products, since the configuration of the shared products is made automatic, based on a security rule (active or inactive).

More in details, my doubts are basically on two points:

1. There's no eas

[2020-09-16 13:37] bealdav commented on #242
Thanks @astirpe I understand your ideas for improvements but in my particular case I pointed a bug ;-)

[2020-09-16 14:38] astirpe commented on #242
For our customers we need something more usable/configurable. Previous version of the module worked just fine.
Since I don't find particular benefits in those automatic behaviors based on security rule, let's wait for other opinions...

[2020-09-16 14:49] florian-dacosta commented on #242
Hi,
Indeed, the present behavior is a bit hard.
I have only one project using this module in v12 and I checked, I had to override the behavior because I have a product multi company rule and still I share the catalog in a lot of cases...
So, the present behavior does not work for me neither and I am in favor on a change.
Like @astirpe the previous behavior was better for me

[2020-09-16 14:56] bealdav commented on #242
ok

[2020-09-16 15:00] bealdav commented on #242
On my side I don't like when customers update rules with no data file. So a matter of taste

[2020-10-04 10:32] OCA-git-bot opened #245 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] account_bill_line_distribution - By @Murtaza-OSI - #382
- [x] account_invoice_consolidated - By @Freni-OSI - #284
- [x] account_invoice_inter_company - By @PierrickBrun - #257
- [ ] account_payment_other_company - By @hpatelserpentcs - #286
- [x] base_multi_company - By @rousseldenis - #270

[2020-11-09 14:33] amkarthik opened #252 "[13.0] product_multi_company - access rule error."
**Steps to Reproduce**
* Create 3 companies - Company A, Company B, Company C
* Create a Product A and assign it Company A and Company B
* Create an user A and his allowed companies be Company B and Company C
* Login with User A and Go to Sales -> Products -> Products Variants and open the Product A

It will raise the below error.
![image](https://user-images.githubusercontent.com/12694917/9855392

[2020-11-09 14:34] amkarthik commented on #252
cc ~ @JoanSForgeFlow

[2020-11-10 18:10] #242 closed, assigned to nobody

[2020-12-05 14:16] adminq8house opened #259 "Can not create Sales order in Compnay A while Creating Purchase order in Compnay B"
Greetings,

The system showing error :

(1) Purchase order created in Company B
(2) At the time of confirming the Purchase order in Company B, it shows error, instead of Creating Sales Order in Company A
(3) Also notice that Company B showing the Company A as vendor, but in Company A contact list Company B is not listed

Thanking you for perusals. Please put your valuable suggestions.
Following is

[2020-12-12 16:47] unique4 commented on #153
Could some one add https://github.com/OCA/multi-company/tree/12.0/account_move_multi_company to module list?

[2020-12-23 20:27] florian-dacosta commented on #245
account_invoice_inter_company : https://github.com/OCA/multi-company/pull/257

[2021-03-03 17:11] enriquemartin commented on #245
product_tax_multicompany_default: #269

[2021-03-09 17:24] rousseldenis commented on #245
base_multi_company #270

[2021-03-09 18:16] rousseldenis commented on #245
product_multi_company

[2021-03-10 14:24] amkarthik commented on #252
https://github.com/OCA/multi-company/pull/264 Fixed it

[2021-03-10 14:24] #252 closed, assigned to nobody

[2021-04-24 14:40] suport-speakup commented on #153
@pedrobaeza could you add account_move_multi_company to migration list?

[2021-04-24 14:59] pedrobaeza commented on #153
Are you planning to migrate it? Is the module still needed?

[2021-06-07 09:20] estekadigital opened #287 "[13.0] partner_multi_company child contact is visible"
Impacted version: 13.0 (I didn't test other versions)
Child contact of parent company (ACME) gets listed although the parent company (ACME) is set to be hidden for the current company (MyCompanyC).

Steps to reproduce:
1- Create a company (ACME), assign ACME to MyCompanyA and MyCompanyB.
2- Add new contact to company ACME (Roadrunner) of type contact
3- back to contact list, from the company dropd

[2021-07-08 08:16] estekadigital commented on #245
partner_multi_company https://github.com/OCA/multi-company/pull/297

[2021-10-17 10:19] OCA-git-bot opened #326 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] account_invoice_consolidated
- [x] account_invoice_inter_company - By @ChrisOForgeFlow - #346
- [x] base_multi_company - By @JasminSForgeFlow - #347
- [ ] calendar_event_multi_company - By @amh-mw - #506
- [ ] company_dependent_attribute
- [ ] ir_filters_multi_company - By @hhgabelgaard - #5

[2021-11-08 15:36] Joaco1980 opened #332 "[13.0] purchase_sale_inter_compan. It does not carry out the warehouse movements correctly when company B takes the same product from two different locations."
It does not carry out the warehouse movements correctly when company B takes the same product from two different locations.

V13.0

Steps to reproduce the behavior:
1. Generate a purchase order from company A of a product X with 2 units
2. In company B to put stock of product X in two different locations WH / A 1 unit and WH / B another unit.
3. Exit the delivery from both locations.
4. Now in com

[2021-11-08 15:37] Joaco1980 commented on #332
CORRECTION ---> 1. Generate a purchase order from company **A** of a product X with 2 units

[2021-11-08 15:37] pedrobaeza commented on #332
I don't see the relation between purchase/sale and stock. This module is only for the first one.

[2021-11-08 15:52] Joaco1980 commented on #332
purchase_sale_inter_company/models/stock_picking.py
This makes the warehouse movements self-validated in the other company
??

[2021-11-08 16:28] pedrobaeza commented on #332
Uhm, that's a mix of things in the same module, but I see it was added for commodity and not needing a glue module. Maybe that decision should be reconsidered. Anyways, the issue is registered with your problem. Please, put the summary of the issue in the title as well.

[2021-11-27 22:46] sebastienbeau opened #335 "account_invoice_inter_company should we forbid customer to create purchase invoice/refund ?"
**module : account_invoice_inter_company**

**Is your feature request related to a problem?**

In multi-company a customer can create a purchase invoice/refund and this will create a sale invoice/refund for the supplier.
This can create workflow problem.

For example, an accountant can create by error a supplier refund manually (because he receive a mail and didn't notice that the refund is alread

[2021-11-28 12:13] #8 closed, assigned to nobody

[2021-11-28 12:13] #10 closed, assigned to nobody

[2021-11-28 12:13] #18 closed, assigned to nobody

[2021-11-28 12:13] #25 closed, assigned to nobody

[2021-11-28 12:13] #29 closed, assigned to nobody

[2021-11-28 12:13] #37 closed, assigned to nobody

[2021-11-28 12:13] #38 closed, assigned to nobody

[2021-11-29 08:36] pedrobaeza commented on #335
I think the idea is that you control both companies and you want to ease the inputs doing the work only once. Maybe you can put an option for disabling this behavior to be opt-out.

[2021-12-05 12:13] #44 closed, assigned to nobody

[2021-12-05 12:13] #53 closed, assigned to nobody

[2021-12-12 12:13] #69 closed, assigned to nobody

[2021-12-12 12:13] #72 closed, assigned to nobody

[2021-12-19 12:14] #75 closed, assigned to nobody

[2021-12-30 08:46] SimoRubi commented on #117
Fixed by https://github.com/OCA/multi-company/pull/118

[2021-12-30 08:46] #117 closed, assigned to nobody

[2022-01-07 09:33] fwyaime opened #339 "[V13] Product Multi Company: rule issue: tax multi-company"
## Module
product_multi_company

## Describe the bug
- Create a company A, a company B and a company C
- Set the company A and company B to any product
- Set a tax related to company A and a tax related to company B, That way the product can be use in both company A and B.
- Connect yourself only on company A
- Try to access the product.variant

![image](https://user-images.githubusercontent.com/4

[2022-01-09 12:14] #77 closed, assigned to nobody

[2022-01-12 22:11] Mar0to opened #341 "Problems with purchase_sale_inter_company in Invicing Module"
## Module
purchase_sale_inter_company

## Describe the bug
When I create a purchase order in company B, the module creates a sales order in company A. And it works fine, but the problem appears when I create the invoices. In company B, I receive the products and then I go to create the invoice, but when the invoice is created, another invoice from company A appears in the same purchase order.

I g

[2022-01-30 12:12] #109 closed, assigned to nobody

[2022-02-01 15:25] metaminux commented on #160
1c044bc60591fe6b05ce9f410c7459689c1173cf fixes this issue

[2022-02-01 15:25] #160 closed, assigned to nobody

[2022-02-27 12:16] #153 closed, assigned to nobody

[2022-03-06 12:15] #172 closed, assigned to max3903

[2022-03-13 12:15] #183 closed, assigned to max3903

[2022-03-13 12:15] #185 closed, assigned to nobody

[2022-03-20 12:15] #194 closed, assigned to nobody

[2022-03-27 12:15] #202 closed, assigned to nobody

[2022-04-03 12:16] #204 closed, assigned to max3903

[2022-04-17 12:16] #226 closed, assigned to nobody

[2022-05-08 12:17] #259 closed, assigned to nobody

[2022-06-12 12:16] #287 closed, assigned to nobody

[2022-07-04 22:39] Andyeyo opened #366 "[QUESTION] Multi company per tab browser"
# Module
base_multi_company 10.0

# Describe
I am using base_multi_company in odoo 10, so I want to know if the module works with Multi company per tab browser, because when I use in the first tab with Company A and the second tab with Company B, Odoo recognizes only the last selected company and the other launch access right error.

[2022-07-04 22:40] pedrobaeza commented on #366
No, go to version 13 where that feature is native. Closing as no issue.

[2022-07-04 22:40] #366 closed, assigned to nobody

[2022-08-14 12:18] #332 closed, assigned to nobody

[2022-08-14 12:18] #335 closed, assigned to nobody

[2022-08-21 12:17] #339 closed, assigned to nobody

[2022-08-22 20:36] poVoq opened #376 "Asks for odoo-test-helper when trying to install"
Seems on Odoo15 these modules have a strange dependency:

https://pypi.org/project/odoo-test-helper/

Maybe some left-over code?

[2022-09-02 12:24] tosin-novobi commented on #153
Hello, I will like to ask something about this module: https://github.com/OCA/multi-company/tree/12.0/account_payment_other_company

What is migrated or redesigned or discontinued in v13.

@pedrobaeza @CarlosRoca13  @AdriaGForgeFlow @JoanSForgeFlow

[2022-09-04 12:21] #341 closed, assigned to nobody

[2022-09-22 21:32] hb-webdev opened #384 "Odoo v15 mail_multi_company & mail_template_multi_company"
It seems [Odoo 15 migration has gone stale](https://github.com/OCA/multi-company/issues/326#issuecomment-1173072042) but our company would desperately appreciate if maintainers could implement and release `mail_multi_company` on the Odoo store for our Odoo.sh v15 instance. Another one we'd love to have is `mail_template_multi_company` (@Olivier-LAURENT) (though [it seems it's ready to merge](https

[2022-09-22 22:29] pedrobaeza commented on #384
You can fund the authors/contributors to do such migration. Meanwhile, closing this issue, as the other issue is the one to coordinate the migration.

[2022-09-22 22:29] #384 closed, assigned to nobody

[2022-09-27 12:34] CelaniDe opened #386 "It changes automatically the company after sale order confirm"
## Module
purchase_sale_inter_company

## Describe the bug
When I click confirm button from a sale order that has as a customer an inter-company. it shows an access error pop up
(The requested operation cannot be completed due to security restrictions. Please contact your system administrator.
(Document type: Sale Order, Operation: read) - (Records: [157], User: 2)). After page reload the selected

[2022-10-03 16:26] sbidoul opened #388 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [ ] account_bill_line_distribution - By @Nikul-OSI - #496
- [ ] account_invoice_consolidated - By @MS-OSI - #491
- [x] account_invoice_inter_company - By @chafique-delli - #426
- [ ] account_move_multi_company - By @MS-OSI - #494
- [x] account_multicompany_easy_creation - By @Shide - #425
- [x]

[2022-10-21 14:48] vincent-hatakeyama commented on #153
ir_actions_report_multi_company migration is available in #364

[2022-11-06 19:47] sergiuga opened #400 "[14.0][ADD] purchase_sale_inter_company: Transfer all attribute and attriute values from PO to SO"
Companies A and B are part of the group.
Company A is a trading company (large product portfolio), and Company B is only manufacturing company (limited product portfolio). Company A place POs to Company B.

In order to fully describe products without creating new product variants (e.g. let the customer to input the color, without creating 600 color variants), there is an attribute with custom valu

[2022-11-14 00:48] ryanc-me commented on #384
FYI @hb-webdev, `mail_multicompany` is migrated at #403